header{
    height: 300px;
    h1{
        text-align: center;
        color: beige;
        font-size: 40px;
        background-color: black;
    }
    nav{
        background-color: whitesmoke;
        ul{
            li{
                list-style-type: none;
            }
        }
    }
}